/* Login, Sign-Up, Change Password Pages */
body {
    background-color: #0d1217;
    color: white;
    font-family: Sans-Serif;
}
.auth-div {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #151e29;
    border: solid 1px #8d9199;
    border-radius: 20px;
    box-sizing: border-box;
}
.auth-text {
    background-color: black;
    color: #a2a7ab;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-radius: 4px;
    font-weight: bold;
}
.auth-text::placeholder {
    color: #a2a7ab;
    font-style: italic;
    opacity: 0.65;
}
.auth-text:focus {
    border: solid #58afe8;
    border-radius: 4px;
}
.auth-btn {
    background-color: black;
    color: #a2a7ab;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
}
.auth-btn:focus {
    border: solid #58afe8;
    border-radius: 7px;
}
.auth-btn:hover {
    background-color: #363638;
    color: #bababf;
}

/* Index page */
.index-div {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 420px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #151e29;
    border: solid 1px #8d9199;
    border-radius: 20px;
    box-sizing: border-box;
}

/* Home Page Play Stuff */
.play-div {
    text-align: center;
    margin: auto;
    margin-top: 150px;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #151e29;
    border: solid 1px #8d9199;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 22px;
}
.play-btn {
    background-color: black;
    color: #a2a7ab;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
    font-size: 20px;
    font-weight: bold;
}
.play-btn:hover {
    background-color: #363638;
    color: #bababf;
}
.play-btn:focus {
    border: solid #58afe8;
    border-radius: 9px;
}
.logged-user {
    line-height: 1.5;
	font-size: 20px;
	font-weight: bold;
}

/* Button that goes up against the body background */
.bg-change-pass-btn {
    background-color: #151e29;
    color: white;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
    border: solid 1px #8d9199;
}
.bg-change-pass-btn:hover {
    background-color: #414454;
    border: solid 1px #60626b;
}