<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Change password</title>
        <link rel="icon" type="image/png" href="../static/favicon.png">
		<link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>
    <body>
        <div class="auth-div">
            <h1>Change Password</h1>
                <p>Enter New Password:</p>
            <form method="post" action="">
                <!-- Enter current password -->
                <p><input class="auth-text" type="password" placeholder="Current Password" name="currpass" value="{{
                    request.form.currpass }}"></p>

                <!-- Enter new password -->
                <p><input class="auth-text" type="password" placeholder="New Password" name="newpass" value="{{
                    request.form.newpass }}"></p>

                <!-- Confirm new password -->
                <p><input class="auth-text" type="password" placeholder="Confirm New Password" name="newconfirm" value="{{
                    request.form.newconfirm }}"></p>

                <!-- Confirm Change Password Button -->
                <p><input class="btn auth-btn" type="submit" value="Confirm"></p>

                <!-- Output error -->
                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error}}
                    {% endif %}
            </form>
        </div>
    </body>
</html>