<html>
	<head>
		<title>Easy Quiz Page</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
	</head>
	<body>
         <span>Question: {{ question }}</span><br><br>

    	<form action="/easyGame/" method="POST">
		<button name="answer" value="A">Answer A: {{ answer1 }}</button>
		<button name="answer" value="B">Answer B: {{ answer2 }}</button>
		<button name="answer" value="C">Answer C: {{ answer3 }}</button>
		<button name="answer" value="D">Answer D: {{ answer4 }}</button>
	    </form>

        <span>Score: {{ score }}</span><br/>
        <span>Question {{ currQ }}/{{ maxQ }}</span><br/>


	</body>

</html>
