<html>
	<head>
		<title>Home Page</title>
	</head>
	<!-- This is the CSS style for the logged in info in the top right of the home page -->
	<style>
		.loggedUser {
			line-height: 1.5;
			font-size: 20px;
			font-weight: bold;
		}
	</style>
	<body>
		<!-- Display the logged in user in the top right -->
		<div class="loggedUser">
			<span style="float: right">Logged in as:</span><br/>
			<span style="float: right">{{ currentuser }}</span>
		</div>

            <form method="post" action="/">
				<!-- Button to navigate to 'index' page -->
				<input type="submit" style="float: right" value="Logout" name="ind"/>
				<br>
			</form>
            <form method="post" action="/play/<curruser>">
				<!-- Button to navigate to 'index' page -->
				<input type="submit" style="float: left" value="Play" name="play"/>
				<br>
			</form>
	</body>
</html>
