<html>
	<head>
		<title>Home Page</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
	</head>
	<!-- This is the CSS style for the logged in info in the top right of the home page -->
	<style>
		.loggedUser {
			line-height: 1.5;
			font-size: 18px;
			font-weight: bold;
		}
        table.center {
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
        }
        .center {
        	margin-left: auto;
        	margin-right: auto;
        }
	</style>
	<body>
		<!-- Display the logged in user in the top right -->
		<div class="loggedUser">
			<span style="float: right">Logged in as:</span><br/>
			<span style="float: right">{{ currentuser }}</span>
			<br>
			<!-- Section for buttons under logged in user -->
			<form type="submit" action="/change_password">
				<table align="right">
					<!-- Button to change password -->
					<tr>
						<td><input type="submit" value="Change Password" name="change-pass"/></td>
					</tr>
				</table>
			</form>
		</div>
		<div class="container">
			<!-- Section for center of screen with play button -->
			<table class="center">
				<!-- Button to navigate to 'play' page -->
				<form method="post" action="/play">
					<tr>
                		<td><input type="submit" value="Play" name="play"/></td>
            		</tr>
				</form>
				<!-- Button to navigate to 'index' page -->
				<form type="submit" action="/">
					<tr>
						<td><input type="submit" style="margin-left:2px" value="Exit" name="ind"/></td>
					</tr>
				</form>
			</table>
		</div>
	</body>
</html>
