<!-- This is the original page for '/' location in URL -->
<html>
	<head>
		<title>Software Engineering</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
 	</head>
	<body>
		<div class="container">
		<h1>Software Engineering Project</h1>
			<p>Please select login option:</p>
			<nav>
				<!-- Links to login and sign up pages -->
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('sign_up') }}">Sign Up</a>
				<br>

				<!-- If there is already a session token, go straight to home -->
				<p>Already logged in? <a href="{{ url_for('home') }}">Home</a></p>
			</nav>
			<!-- Throw error if not already session token present, and try to hit home button -->
			{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }}
			{% endif %}
		</div>
	</body>
</html>
