<html>
	<head>
		<title>Play game</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
	</head>
	<body>
         <span>Please select the type of quiz and the number of questions</span><br><br>

		 {% if errorStatement %}
  				{{ errorStatement }} between {{ min }} and {{ max }}
		 {% endif %}

         <span>#TODO, add selection for type of quiz</span><br>
            <form method="post" action="">
                <input type="text" placeholder="Enter # of questions" name="numQ" required>
                <br>
				<!-- Button to navigate to 'index' page -->
				<input type="submit" style="float: left" value="GO!" name="go"/>
				<br>
			</form>

	</body>

</html>
