<html>
	<head>
		<title>Play game</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
	</head>
	<body>
         <span>Please select the type of quiz and the number of questions</span><br><br>
            <form method="post" action="">
                <input type="text" placeholder="Enter # of questions" name="numQ" required>
                <br>
				<!-- Button to navigate to 'index' page -->
				<input type="submit" style="float: left" value="GO (easy difficulty)" name="go"/>
				<input type="submit" style="float: left" value="GO (medium difficulty)" name="go"/>
				<input type="submit" style="float: left" value="GO (hard difficulty)" name="go"/>
                <input type="submit" style="float: left" value="Exit" name="go"/>
			</form>

	</body>

</html>
