
<html>
	<head>
		<title>Easy Quiz Page</title>
        <link rel="icon" type="image/png" href="../static/favicon.png">
        <link rel="stylesheet" href="../static/main.css" type="text/css"/>
		<link rel="stylesheet" href="../static/{{ theme }}-theme.css" type="text/css">
	</head>
	<body class="{{ theme }}-body">
         <div class="logged-user">
             <span style="float: right">{{ currentuser }}</span>
        </div>
         <div class="quiz-score-div">
                <p><b>Score: </b>{{ score }}</p>
                <p><b>High Score: </b> {{ highscore }}</p>
                <p><b>Question: </b>{{ currQ }}/{{ maxQ }}</p>
         </div>
         <div class="quiz-div {{ theme }}-div">
            <h2>Question: {{ question }}</h2>
            <form action="/game/{{ gametype }}" method="POST">
                <button class="btn quiz-btn {{ theme }}-btn" name="answer" value="A">Answer A: {{ answer1 }}</button>
                <button class="btn quiz-btn {{ theme }}-btn" name="answer" value="B">Answer B: {{ answer2 }}</button>
                <button class="btn quiz-btn {{ theme }}-btn" name="answer" value="C">Answer C: {{ answer3 }}</button>
                <button class="btn quiz-btn {{ theme }}-btn" name="answer" value="D">Answer D: {{ answer4 }}</button>
            </form>
        </div>
	</body>
</html>
