<html>

	<head>
		<title>Sign Up Placeholder Page</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div class="auth-div">
			<h1>Sign Up</h1>
				<p>Enter Username and Password:</p>
			<form method="post" action="">

				<!-- Field to enter username -->
				<p><input class="auth-text" type="text" placeholder="Username" name="username" value="{{
			 		request.form.username }}"></p>

				<!-- Field to enter password -->
				<p><input class="auth-pass" type="password" placeholder="Password" name="password" value="{{
			 		request.form.username }}"></p>

				<!-- Field to enter password confirmation -->
				<p><input class="auth-pass" type="password" placeholder="Confirm Password" name="confirm" value="{{
			 		request.form.confirm }}"></p>

				<!-- Submit button -->
				<p><input class="btn auth-btn" type="submit" value="Sign Up"></p>

				<!-- Output error (error defined in app.py) -->
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error}} </p>
				{% endif %}
			</form>
		</div>
	</body>
</html>
